<!DOCTYPE html>
<html>
{{ partial "head" . }}
<body>
    <main class="post">
        <article>
            <header>
                <hgroup>
                    <h1>{{ .Title }}</h1>
                    <h4>
                         {{ if .IsPage }}
                            <a href="{{ $.Site.Params.GitHubRepo }}commit/{{ .GitInfo.Hash }}">
                             {{ .GitInfo.Hash }}
                            </a>
                        {{ end }}
                        </a>
                    </h4>
                </hgroup>
                <img src="/images/{{ .Params.photo }}" alt="">
            </header>
            <section>
                {{ .Content }}
                <small>{{ .Title }} was last updated on {{ .Lastmod.Format "January 2, 2006" }}</small>
            </section>
            <footer>
                <a href="{{ .Site.BaseURL }}">Go back home</a>
            </footer>
        </article>
    </main>
</body>
</html>