<article>
    <header>
        <hgroup>
            <h1>Allan Reyes</h1>
            <h2>Designer <span>&</span> enthusiast
            </h2>
            <h3>
                <span>I am a designer.</span> Seasoned with two decades of working experience and applied
                knowledge on digital product design, development and delivery.
                Always on the quest to craft functional and hopefully useful digital interactions.
            </h3>
        </hgroup>
    </header>
    <h4>
        Recent Works
    </h4>
    <section>
        <h3>
            <a href="https://buyviu.com/">Buyviu</a>
        </h3>
        <p>
            Design and develop for end-user shopping website and back-office apps. Work with of the
            engineering team and product owner to validate, prototype and present workflows.
        </p>
        <p>
            Buyviu aims to be the largest online mall by leveraging in its capacity to drive traffic and sales.
        </p>
    </section>
    <section>
        <h3>
            <a href="https://www.themotion.com/">TheMotion</a>
        </h3>
        <p>
            User experience design and UI development for user-facing products and internal applications. Work part of
            the
            engineering team and work closely with the product owner to prototype workflows, test and build user
            experiences.
        </p>
        <p>
            TheMotion, a startup leader in the automatic production of video ads at scale,
            is the first Spanish company to become Facebook Marketing & Instagram Partner in the category
            of Creative Platforms.
        </p>
    </section>
    <section>
        <h3>
            <a href="https://packlink.com/">Packlink</a>
        </h3>
        <p>
            Design both consumer and business users website/app. Create the brand design,
            illustrations and UI design system. Work closely with the product owner and UX researchers to
            prototype workflows and build user experiences. I helped form and structure the product team.
        </p>
        <p>
            Packlink is a disruptive online comparison, booking and management service for shipping.
        </p>
    </section>
    <section>
        <h3>
            <a href="https://www.domestika.org/">Domestika</a>
        </h3>
        <p>
            Complete redesign of Domestika.org. I made both the design prototypes, illustrations, icons and
            hand-code the front-end HTML and CSS. I used Sass and Bootstrap and worked closely with Ruby on
            Rails developers using GitHub.
        </p>
        <p>
            Domestika is the largest and influential Spanish-speaking digital community for creative
            professionals.
        </p>
    </section>
    <section>
        <h3>
            <a href="https://www.marketgoo.com/">Marketgoo</a>
        </h3>
        <p>
            Complete visual design for company’s website and web app user-interface including
            illustrations, custom icons, screencast demo and photography. The company website is fully
            responsive made using Zurb’s Foundations. Working closely with a PHP developer I coded the
            front-end UI of the web app using Sass and Twitter’s Bootstrap.
        </p>
        <p>
            MarketGoo is a do-it-yourself online marketing web app for improving your search engine
            ranking.
        </p>
    </section>
    <section>
        <h3>
            <a href="https://www.webpop.com/">Webpop</a>
        </h3>
        <p>
            Creative direction, branding and marketing design, UI design and development for the web app.
        </p>
        <p>
            Webpop is a pioneering cloud CMS that let's you build custom, easy-to-use websites with
            powerful cloud tooling and hosting. It is the precursor of <a href="https://www.netlify.com/">Netlify,</a>
            an all-in-one platform to build, deploy and manage modern web projects.
        </p>
    </section>
    <section>
        <h3>
            <a href="https://www.ulampinoy.com/">Ulampinoy</a>
        </h3>
        <p>
            Complete visual design, web development, branding, photography, video production,
            illustrations, icon design and copy writing.
        </p>
        <p>
            UlamPinoy is a family project for the love of home cooking and food photography. The <a href="https://www.youtube.com/user/ulampinoy/videos">YouTube
                channel</a> has a growing following of more than 57,700 subscribers and has surpassed 9
            million views.
        </p>
    </section>
    <h4>
        Other Works
    </h4>
    <section>
        <h3>
            <a href="http://allanreyes-blog.tumblr.com/">Kalye</a>
        </h3>
        <p>
            Street photography is about capturing the fleeting moment in life. Documenting the human
            condition as you see and experience it. The most challenging aspect of street photography are
            the variables in play when realizing the image using the camera as you frame it in your mind.
        </p>
        <p>
            I shoot with Nikon D7000 and Sony &alpha;6000 with 2 prime lens: 35mm and 50mm.
        </p>
    </section>
</article>