<!DOCTYPE html>
<html lang="en">
{{ partial "head" . }}

<body>
    <header>
        <h1>Allan Reyes</h1>
        <h2>￼￼￼￼I am a digital designer with almost 20 years of working design experience. I craft simple and practical user experiences using a wide array of prototyping tools and process. I work hand and hand with developers building the end-user product</h2>
    </header>
    <main>
        <h4>Recent Works</h4>
        <ul>
            <li>
                <h3>Packlink</h3>
                <p>Complete UX/UI design for both consumer and business user website and self-serve application. Create the brand and UI design system. I help form and structure the product team.</p>
                <small>Packlink is a disruptive online comparison, booking and management service for shipping.</small>
            </li>
            <li>
                <h3>Domestika</h3>
                <p>Complete redesign of the domestika.org. I made design prototypes, illiustrations, icons and hand-code the front-end HTML and CSS. I worked with Ruby on Rails developers building the website/app.</p>
            </li>
            <li>
                <h3>Marketgoo</h3>
                <p>Created the visual design for the company's website and web app UI. I also produced illustrations, custom icons, screencast video demos and photography. Implemented a responsive web design for the website.</p>
            </li>
            <li>
                <h3>Webpop</h3>
                <p>Provided the creative direction, feature prototyping, brand ID and marketing design for events.</p>
            </li>
            <li></li>
        </ul>
    </main>
</body>
</html>