<!DOCTYPE html>
<html lang="en">
{{ partial "head" . }}
<body>
    <header>
        <img src="/images/ar-logo-white.svg" alt="">
        <hgroup>
            <h1>Allan Reyes</h1>
            <h2>Designer and enthusiast</h2>
        </hgroup>
    </header>
    <main>
            {{ range first 8 (where .Data.Pages "Type" "photos") }}
            <article>
                <img src="images/{{ .Params.thumbnail }}" alt="">
                <h1>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h1>
            </article>
            {{ end }}
    </main>
    <footer>
        <p>Copyright © 2018 Allan Reyes.</p>
    </footer>
</body>

</html>