<!DOCTYPE html>
<html lang="en">
{{ partial "head" . }}

<body>
    <main>
        <div class="theGrid">
            <article>
                <header>
                    <hgroup>
                        <h1>Allan Reyes</h1>
                        <h2>Designer <span>&</span> enthusiast
                        </h2>
                        <h3>
                            <span>I am a designer.</span> Seasoned with 2 decades of working experience and applied knowledge on digital product design, development and delivery.
                            Always on the quest to craft functional and hopefully useful digital interactions.
                        </h3>
                    </hgroup>
                </header>
                <h4>
                    Recent Works
                </h4>
                <section>
                    <h3>
                        <a href="https://packlink.com/">Packlink</a>
                    </h3>
                    <p>
                        Design UX/UI for both consumer and business users website/app. Create the brand design,
                        illustrations and UI design system. Work closely with the product owner and UX researchers to
                        prototype workflows and build user experiences. I helped form and structure the product team.
                    </p>
                    <p>
                        Packlink is a disruptive online comparison, booking and management service for shipping.
                    </p>
                </section>
                <section>
                    <h3>
                        <a href="https://www.domestika.org/">Domestika</a>
                    </h3>
                    <p>
                        Complete redesign of Domestika.org. I made both the design prototypes, illustrations, icons and
                        hand-code the front-end HTML and CSS. I used Sass and Bootstrap and worked closely with Ruby on
                        Rails developers using GitHub.
                    </p>
                    <p>
                        Domestika is the largest and influential Spanish-speaking digital community for creative
                        professionals.
                    </p>
                </section>
                <section>
                    <h3>
                        <a href="https://www.marketgoo.com/">Marketgoo</a>
                    </h3>
                    <p>
                        Complete visual design for company’s website and web app user-interface including
                        illustrations, custom icons, screencast demo and photography. The company website is fully
                        responsive made using Zurb’s Foundations. Working closely with a PHP developer I coded the
                        front-end UI of the web app using Sass and Twitter’s Bootstrap.
                    </p>
                    <p>
                        MarketGoo is a do-it-yourself online marketing web app for improving your search engine
                        ranking.
                    </p>
                </section>
                <section>
                    <h3>
                        <a href="https://www.webpop.com/">Webpop</a>
                    </h3>
                    <p>
                        Creative direction, branding and marketing design, UI design and development for the web app.
                    </p>
                    <p>
                        Webpop is a pioneering cloud CMS that let's you build custom, easy-to-use websites with
                        powerful cloud tooling and hosting. It is the precursor of <a href="https://www.netlify.com/">Netlify,</a>
                        an all-in-one platform to build, deploy and manage modern web projects.
                    </p>
                </section>
                <section>
                    <h3>
                        <a href="https://www.ulampinoy.com/">Ulampinoy</a>
                    </h3>
                    <p>
                        Complete visual design, web development, branding, photography, video production,
                        illustrations, icon design and copy writing.
                    </p>
                    <p>
                        UlamPinoy is a family project for the love of home cooking and food photography. The <a href="https://www.youtube.com/user/ulampinoy/videos">YouTube
                            channel</a> has a growing following of more than 57,700 subscribers and has surpassed 9
                        million views.
                    </p>
                </section>
            </article>
            <aside>
                <figure>
                    <img src="/images/ar-logo-main.svg" alt="">
                </figure>
                <div>
                    <h4>Skills and Toolset</h4>
                    <h5>Product/UI Design</h5>
                    <ul>
                        <li>Sketch, Figma, Framer</li>
                        <li>HTML5, CSS3, Javascript (presentational)</li>
                        <li>Static Generators (Jekyll, Middleman, Hugo and GatsbyJS)</li>
                        <li>Django, EmberJS, React</li>
                        <li>Principle, Adobe XD</li>
                        <li>Invision, Zeplin</li>
                        <li>GitHub, Docker, Travis</li>
                        <li>Sublime, VSCode</li>
                    </ul>
                    <h5>Print and Illustration</h5>
                    <ul>
                        <li>Adobe InDesign</li>
                        <li>Illustrator</li>
                        <li>Photoshop</li>
                    </ul>
                    <h5>Photography and Video</h5>
                    <ul>
                        <li>Lightroom</li>
                        <li>FinalCut Pro</li>
                        <li>Screenflow</li>
                    </ul>
                    <h4>Education</h4>
                    <h5>Bachelor of Science in Computer Science</h5>
                    <p>Lyceum Northwestern University</p>
                    <h4>Contact & Links</h4>
                    <ul>
                        <li>
                            <a href="https://www.linkedin.com/in/allanreyes/">LinkedIn</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/pixeleden?lang=es">Twitter</a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/ulampinoy/">Instagram</a>
                        </li>
                        <li>
                            <a href="http://allanreyes-blog.tumblr.com/">Tumblr</a>
                        </li>
                        <li>
                            <a href="https://www.flickr.com/photos/pixeleden/">Flickr</a>
                        </li>
                        <li>
                            <a href="https://dribbble.com/pixeleden">Dribbble</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </main>
    </div>
    {{ partial "foot" . }}
</body>

</html>